    <div class="container main" data-page="main" style="margin-top: 70px">
        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron jumbotron-fluid">
                    <p class="text-center">Welcome</p>
                    <br>
                    <div class="col-xs-12 view-container" ng-repeat="date in dates">
                        <publication-dates info="date" class="view-frame"></publication-dates>
                        <br>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>